@use "../base/variables" as v;
.mainWrapper {
  display: grid;
  grid-template-areas: "header" "container" "footer";
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 1rem;
  header {
    grid-area: header;
  }
  #main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    align-items: center;
    @media #{v.$tablet} {
      grid-template-columns: 1fr 2fr 1fr;
    }
    #Header1 {
      grid-column: 1 / 2;
      h1,
      h2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
      }
    }
    #LinkList0 {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;
      @media #{v.$tablet} {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      .main-menu-list {
        display: none;
        gap: 1rem;
        place-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        @media #{v.$tablet} {
          display: flex;
          gap: 1.25rem;
          flex-direction: row;
        }
      }
      #toggle-menu {
        &:checked {
          + {
            .main-menu-list {
              display: flex;
            }
          }
        }
      }
    }
    #HTML1 {
      grid-column: 2 / 3;
      place-self: end;
      display: flex;
      gap: 10px;
      @media #{v.$tablet} {
        grid-column: 3 / 4;
      }
      .toggle-menu {
        display: block;
        @media #{v.$tablet} {
          display: none;
        }
      }
    }
  }
  .container {
    grid-area: container;
    padding: 2rem 0;
    @media #{v.$tablet} {
      padding: 4rem 0;
    }
  }
  footer {
    grid-area: footer;
    margin-bottom: 1rem;
    #LinkList1 {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 0.875rem;
      div:first-child {
        order: 2;
        text-align: center;
      }
      div:last-child {
        order: 1;
      }
      @media #{v.$tablet} {
        grid-template-columns: 1fr 1fr;
        div:first-child {
          order: 1;
          text-align: left;
        }
        div:last-child {
          order: 2;
        }
      }
      .main-menu-list {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        @media #{v.$tablet} {
          justify-content: flex-end;
        }
      }
    }
  }
}
.header-search {
  display: flex;
  align-items: center;
  .btn {
    cursor: pointer;
    padding: 0.5em;
  }
  .modal-state {
    display: none;
    &:checked {
      + {
        #form-search {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  #form-search {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 0.25s ease;
    z-index: 2;
    .bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }
    .inner {
      transition: top 0.25s ease;
      position: absolute;
      top: -20%;
      right: 0;
      bottom: 0;
      left: 0;
      width: calc(100% - 2rem);
      margin: auto;
      overflow: auto;
      background: #fff;
      border-radius: 5px;
      padding: 1em;
      height: fit-content;
      @media #{v.$tablet} {
        width: 50%;
        padding: 1em 2em;
      }
    }
    form {
      display: inline-flex;
      align-items: center;
      input {
        width: 100%;
        color: var(--color-tertiary);
      }
      button {
        padding: 0 10px;
      }
      label {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
