@use "../base/variables" as v;
.mainWrapper {
  #Blog1 {
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 1rem;
      min-height: 1.875rem;
      color: var(--color-white);
    }
    .posts {
      display: grid;
      gap: 1rem;
      margin-bottom: 1rem;
      &:hover {
        .post {
          opacity: 0.5;
        }
      }
      .post {
        transition: opacity 0.3s ease-in-out;
        min-height: 8.75rem;
        @media #{v.$tablet} {
          min-height: 7rem;
        }
        &:hover {
          opacity: 1;
        }
        &-excerpt {
          min-height: 5.25rem;
          @media #{v.$tablet} {
            min-height: 3.5rem;
          }
        }
        &-meta {
          display: flex;
          align-items: center;
          gap: 2px;
          font-size: 0.875rem;
          color: var(--color-tertiary);
          svg {
            width: 18px;
            height: 18px;
            stroke-width: 1.5;
            stroke: var(--color-tertiary);
          }
        }
        &-labels {
          margin-left: 10px;
          display: flex;
          gap: 4px;
          align-items: center;
          &-list {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            align-items: center;
            .label {
              background-color: var(--bg-secondary);
              padding: 3px 8px;
              border-radius: 99px;
              font-size: 0.75rem;
              line-height: 1rem;
            }
          }
        }
      }
    }
    .blog-pager:has(span) {
      display: inline-flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      margin-top: 2rem;
      span {
        a {
          color: var(--color-secondary);
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
}
